@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./vendor/devicon/devicon.min.css");

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/PPMonumentExtended-Regular.otf");
  font-weight: 400;
}

:root {
  --primary-green: #6afca9;
  --card-color: #0f182b;
  --border-color: #222f43;
  --primary-text-color: #fff;
  --background-color: #000;
  --background-start-color: #000;
  --background-end-color: #0f172a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  background-image: linear-gradient(
    147deg,
    var(--background-start-color) 0%,
    var(--background-end-color) 74%
  );
  font-family: var(--font-sans-primary);
}
